<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Novo Pedido</title>
</head>
<body>
    <div class="container">
        <div class="container-fluid bg-dark text-light p-5">
            <h1 class="display-4">Novo Pedido</h1>
        </div>

        <div class="card mt-3">
            <form class="card-body" action="/pedido/novo" method="post">
                <div class="form-group">
                    <label for="nomeProduto">Produto</label>
                    <input class="form-control" name="nomeProduto" placeholder="Nome do produto">
                    <small>Informe o nome do produto.</small>
                </div>

                <div class="form-group">
                    <label for="urlProduto">Url</label>
                    <input class="form-control" name="urlProduto" placeholder="url do Produto">
                    <small>Procure em um site o produto que você deseja e cole a url da página</small>
                </div>

                <div class="form-group">
                    <label for="urlImagem">Imagem</label>
                    <input class="form-control" name="urlImagem" placeholder="url da Imagem">
                    <small>Procure em um site o produto que você deseja e cole a url da página</small>
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

</body>
</html>